{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVP</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="main-block">
        <div class="product-image">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Rem quod perspiciatis maiores provident expedita voluptates porro non, delectus dolore placeat at cumque officia illum dolorum debitis dignissimos facere?
        </div>
        <div class="desription">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nobis numquam laboriosam fuga voluptas odit molestias modi vel dolorum omnis, sint impedit nisi explicabo.
            Iste quaerat harum nihil rerum sit unde!
        </div>

    </div>
</body>
</html>